doctype html
html

  head

  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge")

  title Musicfy - Listen to awesome music!

  meta(name="description", content="Hello World")

  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

  link(rel="stylesheet", href="/assets/styles/styles.css", type="text/css")

  body

  div.wrapper

    header.header

      h1 Musicfy

      ul.nav

        li: a(href="/") Home

        li: a(href="/artists") Artists


    div.main

    div.audioPlayer
      audio(controls).
        Your browser does not support the audio element.


  // -----------------------------
  // Templates
  // -----------------------------

  script#home(type="text/template").
    <h1 class="title">Featured</h1>
    <ul class="songsFeatured">
      {{#songs}}
      <li>
        <h4>{{songName}}</h4>
      </li>
    {{/songs}}
    </ul>

  script#artists(type="text/template").
    <h1>{{title}}</h1>
    <div class="artists">
    {{#artists}}
      <div>
        <a href = "/artists/{{url}}"></a>
        <img src = "{{imageUrl}}"/>
        <h3>{{name}}</h3>
      </div>
    {{/artists}}
    </div>

  script#artist(type="text/template").
    <h1 class="title">{{artist}}</h1>
    <img  class="artistPic" src = "{{artistImageUrl}}"/>
    <h2 class="title">Albums:</h2>
    <ul class="albums">
    {{#albums}}
      <li>
        <img src = "{{imageUrl}}">
        <h3><a href = "/artists/{{url}}">{{name}}</a></h3>
      </li>
    {{/albums}}
    </ul>

  script#album(type="text/template").
    <h1 class="title">{{artist}}: {{album}}</h1>
    <img src = "{{albumImageUrl}}" class="artistPic"/>
    <h2 class="title">Songs:</h2>
    <ul class="songs">
    {{#songs}}
      <li>
        <h4>{{name}}</h4>
      </li>
    {{/songs}}
    </ul>



  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")


  // -----------------------------
  // Application
  // -----------------------------

  script(type="text/javascript", src="/assets/scripts/main.js")
