doctype html
html

  head

  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge")

  title Musicfy - Listen to awesome music!

  meta(name="description", content="Hello World")

  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

  link(href="/assets/styles/jplayer.blue.monday.css" rel="stylesheet" type="text/css")

  link(rel="stylesheet", href="/assets/styles/styles.css", type="text/css")

  body

  div.wrapper

    header.header

      h1 Musicfy

      ul.nav

        li: a(href="/") Home

        li: a(href="/artists") Artists


    div.main

    div.audioPlayer
      #jp_container_N.jp-video.jp-video-270p(role='application', aria-label='media player')
        .jp-type-playlist
          #jquery_jplayer_N.jp-jplayer
          .jp-gui
            .jp-video-play
              button.jp-video-play-icon(role='button', tabindex='0') play
            .jp-interface
              .jp-progress
                .jp-seek-bar
                  .jp-play-bar
              .jp-current-time(role='timer', aria-label='time') &nbsp;
              .jp-duration(role='timer', aria-label='duration') &nbsp;
              .jp-controls-holder
                .jp-controls
                  button.jp-previous(role='button', tabindex='0') previous
                  button.jp-play(role='button', tabindex='0') play
                  button.jp-next(role='button', tabindex='0') next
                  button.jp-stop(role='button', tabindex='0') stop
                .jp-volume-controls
                  button.jp-mute(role='button', tabindex='0') mute
                  button.jp-volume-max(role='button', tabindex='0') max volume
                  .jp-volume-bar
                    .jp-volume-bar-value
                .jp-toggles
                  button.jp-repeat(role='button', tabindex='0') repeat
                  button.jp-shuffle(role='button', tabindex='0') shuffle
                  button.jp-full-screen(role='button', tabindex='0') full screen
              .jp-details
                .jp-title(aria-label='title') &nbsp;
          .jp-playlist
            ul
              // The method Playlist.displayPlaylist() uses this unordered list
              li &nbsp;
          .jp-no-solution
            span Update Required
            a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin




  // -----------------------------
  // Templates
  // -----------------------------

  script#home(type="text/template").
    <h1 class="title">Featured</h1>
    <ul class="songsFeatured">
      {{#songs}}
      <li>
        <h4><a class="song" href="{{songUrl}}">{{songName}}</a></h4>
      </li>
    {{/songs}}
    </ul>

  script#artists(type="text/template").
    <h1>{{title}}</h1>
    <div class="artists">
    {{#artists}}
      <div>
        <a href = "/artists/{{url}}"></a>
        <img src = "{{imageUrl}}"/>
        <h3>{{name}}</h3>
      </div>
    {{/artists}}
    </div>

  script#artist(type="text/template").
    <h1 class="title">{{artist}}</h1>
    <img  class="artistPic" src = "{{artistImageUrl}}"/>
    <h2 class="title">Albums:</h2>
    <ul class="albums">
    {{#albums}}
      <li>
        <img src = "{{imageUrl}}">
        <h3><a href = "/artists/{{url}}">{{name}}</a></h3>
      </li>
    {{/albums}}
    </ul>

  script#album(type="text/template").
    <h1 class="title">{{artist}}: {{album}}</h1>
    <img src = "{{albumImageUrl}}" class="artistPic"/>
    <h2 class="title">Songs:</h2>
    <ul class="songs">
    {{#songs}}
      <li>
        <h4><a href = "/artists/{{url}}">{{name}}</a></h4>
      </li>
    {{/songs}}
    </ul>



  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")

  script(type="text/javascript", src="/assets/scripts/playlist.js")

  script(type="text/javascript", src="/assets/scripts/jplayer.js")

  // -----------------------------
  // Application
  // -----------------------------

  script(type="text/javascript", src="/assets/scripts/main.js")
