
// -----------------------------
// Variables
// -----------------------------

gray = #555
lightColor = #efefef
darkColor = #333

  // -----------------------------
  // Global Styles
  // -----------------------------
*
  box-sizing border-box

body
  padding 0
  margin 0
  font-size 14px
  font-family sans-serif
  color gray

a
  text-decoration none
  display inline-block
  color gray

// -----------------------------
// App Specific
// -----------------------------

.header, .main, .footer
  width 100%
  display block
  clear both
  float left

// -----------------------------
// Header
// -----------------------------

.header
  padding 20px
  border-bottom 1px solid lightColor

// -----------------------------
// Navigation
// -----------------------------

.nav
  padding 0
  width 500px
  margin 0 auto

  li
    margin 0
    padding 0
    display inline-block
    list-style none
    width 49%

    a
      width 100%
      padding 5px 10px
      text-align center

// -----------------------------
// Main
// -----------------------------

.wrapper
  width 900px
  display block
  margin 0 auto

.main
  width 600px
  margin 0 auto
  border-bottom 1px solid lightColor
  float left
  display inline-block
  overflow hidden

.title
  display block
  width 100%
  float left

h2.title
  display block
  float left
  width 600px
  padding-left 20px
  margin 0


// -----------------------------
// Home
// -----------------------------

h1.title
  padding 19px
  padding-left 10
  margin-top 0
  background rgba(1,1,1,0.5)

.songsFeatured
  list-style none

  li
    background rgba(1,1,1,0.5)
    display inline-block
    margin-left 5px
    margin-bottom 5px

    span
      display block
      margin-left 60px
      margin-top -31px
      margin-bottom 15px
      margin-right 10px

    span:hover
      cursor pointer

    img
      width 50px
      display block


// -----------------------------
// Artists
// -----------------------------

.artists
  list-style none

  div
    display inline-block
    background rgba(1,1,1,0.5)
    position relative

    img
      width 100px
      display block

    h3
      display block
      margin 4px 10px

    a
      position absolute
      width 100%
      height 100%

// -----------------------------
// Albums
// -----------------------------

.ufkhb
  list-style none
  li
    background rgba(1,1,1,0.5)
    display inline-block

    img
      width 50px
      display block
      float left

    h3
      display block
      float left
      margin-left 10px
      margin-right 10px




.title
  background rgba(1,1,1,0.5)

  h1
    display block
    float left
    margin 18px 20px
  img
    width 70px
    display block
    float left

// -----------------------------
// Albums
// -----------------------------

.album
  h1
    font-size 25px

.songs
  list-style none
  li
    display inline-block
    background rgba(1,1,1,0.5)
    margin 5px
    padding 5px

    span:hover
      cursor pointer





/*.artistPic*/
  /*width 300px*/
  /*height 300px*/
  /*float left*/

/*.albums, .songs*/
  /*display block*/
  /*list-style none*/
  /*float left*/
  /*margin: 0*/
  /*img*/
    /*width 50px*/
    /*height 50px*/
    /*display inline-block*/
  /*h3*/
    /*display inline-block*/
    /*margin 0*/
    /*transform translateY(-18px)*/
    /*font-size 22px*/

/*.artists*/
  /*div*/
    /*display inline-block*/
    /*width 200px*/
    /*height 200px*/
    /*margin-left 20px*/
    /*margin-bottom  20px*/
    /*background-color gray*/
    /*position relative*/

    /*img*/
      /*width 100%*/
      /*height 100%*/

    /*a*/
      /*position absolute*/
      /*width 100%*/
      /*height 100%*/

    /*h3*/
      /*color white*/
      /*transform translateY(-35px) translateX(-2px)*/

// -----------------------------
// Footer
// -----------------------------

.footer
  padding 20px

  p
    margin 0
    padding 0
    font-size 12px

.audioPlayer
  width 300px
  display inline-block
  float left

.jp-video .jp-type-playlist .jp-controls
  width 134px
  margin-left 31px

.jp-video .jp-volume-controls
  top 13px
  left 183px


#jquery_jplayer_N.jp-jplayer
  display none

#jp_container_N
  margin 0 auto

.jp-video-270p
  width 100%


.jp-type-playlist .jp-playlist a
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.jp-type-playlist .jp-playlist a
  width 217px

.jp-type-playlist .jp-playlist a.jp-playlist-item-remove
    width 10px

.jp-type-playlist .jp-playlist li.jp-playlist-current
  list-style-type none

.jp-details, .jp-playlist
  overflow-y scroll
  max-height 173px